.main-container {
  overflow: hidden;
  position: relative;
  width: 100vw;
  height: 100vh;
  z-index: 0;
}

.centered-absolute {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 100%;
  text-align: center;
  overflow: hidden;
}

.kata {
  color: #ed85ca;
  opacity: 0.1;
  z-index: -1;
  user-select: none;
  font-size: 20rem;
  writing-mode: vertical-lr;
  text-orientation: upright;
  text-wrap: nowrap;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  filter: blur(5px);
}

.hero-text {
  color: white;
  z-index: 2;
}

.main-text-container {
  display: inline-flex;
  flex-direction: column;
}

.big-name {
  font-size: 120px;
  font-weight: 900;
}

.job-description {
  font-size: 40px;
  font-weight: 300;
}